<!DOCTYPE html>
<html lang="en" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>People management</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<div class="container">
    <h1>Hengchao Wang quiz1</h1>
    <td><img style="width:20%;" src="/static/homepage.jpg"></td>
    <h2>1001778272</h2>
</div>
<body>

<div class="container">

    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
                <input type="text" name="text1" value="" id="text1" class="form-control" placeholder="Number one" style="width:30%;"/>
                <input type="text" name="text2" value="" id="text2" class="form-control" placeholder="Number two" style="width:30%;"/>
                <input type="text" name="result" value="" readonly="true" id="result" class="form-control" placeholder="Sum" style="width:30%;"/>
                <input type="button" class="btn btn-default"value="Add" onclick="getSum();"/>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <form action="/home" method="post">
        <input name="type" value="searchByState" style="display:none;">
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Input state" name="State">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">search</button>
                    </span>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="container">
    <form action="/home" method="post">
        <input name="type" value="searchByName" style="display:none;">
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Input name"
                           name="Name">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">search</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div>
    </form>
<!--    <a href="/all_pictures">all pictures</a>-->
</div>


<div class="container">

    <table class="table" border="0" cellspacing="0" width="2000">
        {#        <caption><a class="btn btn-default btn-primary" href="/addview">Add</a></caption>#}
        <tr style=font-size:25px>
            <th>Name</th>
            <th>ID</th>
            <th>Room</th>
            <th>State</th>
            <th>Caption</th>
            <th>Picture</th>
        </tr>
        {% for rel in result.values() %}
            <form action="/home" method="post">
                <input name="type" value="delete" style="display:none;">
                <tr>
                    <td>{{ rel[0] }}</td>
                    <td>{{ rel[1] }}</td>
                    <td>{{ rel[2] }}</td>
                    <td>{{ rel[3] }}</td>
                    <td>{{ rel[5] }}</td>
                    <td><img style="width:20%;" src="{{ url_for('static', filename=rel[4]) }}"></td>
                    <td>
                        <button class="btn btn-default" type="submit" formaction="/edit_page" name="edit"
                                value="{{ rel }}">Edit
                        </button>
                    </td>
                </tr>
            </form>
        {% endfor %}
        {% if not result %}
            no picture available
        {% endif %}
    </table>
</div>

</body>
</html>

<script>
    function getSum() {
    var n1 = document.getElementById("text1").value;
    var n2 = document.getElementById("text2").value;
    document.getElementById("result").value = parseInt(n1)+parseInt(n2);
    }
</script>